FileDownloader-master/FileDownloader.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/
FileDownloader-master/FileDownloader.xcodeproj/xcuserdata/*.xcuserdatad/
FileDownloader-master/FileDownloader.xcodeproj/project.xcworkspace/xcuserdata/Good.xcuserdatad/UserInterfaceState.xcuserstate



